@use 'colors' as *;
@use 'mixin' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	background-color: $white;
	display: flex;
	// height: 100vh;
	justify-content: center;
	width: 100vw;
	color: $black;
}

.wrapper {
	margin-top: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box {
	&__btn {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 800px;
		height: 150px;
		background-color: $navy;
		border-radius: 8px;
	}

	&__todo {
		margin-top: 2rem;
		width: 800px;
		height: auto;
		border-radius: 8px;
		background-color: $navy;
	}

	&__trash {
		margin-top: 2rem;
		width: 800px;
		height: 150px;
		background-color: $light-red;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.btn {
	@include btn;
}

.todo {
	display: flex;
	font-size: 1.5rem;
	color: $white;
	&__checkbox {
		background-color: $white;
		transform: scale(1.5);
		padding: 2rem;
		margin: 2rem;
		accent-color: $red;
	}

	&__text {
		text-transform: uppercase;
		margin: 2rem;
	}
}

.icon {
	font-size: 8rem;
}

.todo-done {
	text-decoration: line-through;
}
